/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}

/* PRODUCTS */

.products > .container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 2rem;
  padding: 5rem 0;
}

.products .product-card {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 30%;

  position: relative;

  /* debug */
  background-color: dodgerblue;
  min-height: 500px;
}

.product-card .card-discount {
  position: absolute;
  bottom: 150px;
}

.product-card .card-target {
  position: absolute;
  bottom: 150px;
  left: 45px;
}

.product-card .card-wishlist {
  position: absolute;
  top: 20px;
}

/* CARD */

.card-img {
  /* debug   */
  background-color: lightsalmon;
  border: 2px dashed black;
  min-height: 380px;
}

.card-description {
  padding: 5px 0;

  /* debug   */
  background-color: lightblue;
  border: 2px dashed black;
  min-height: 70px;
}

.card-discount {
  padding: 2px;
  text-align: center;

  /* debug   */
  background-color: lightcoral;
  border: 2px dashed black;
  min-height: 10px;
  max-width: 50px;
}

.card-target {
  padding: 2px;
  text-align: center;

  /* debug   */
  background-color: lightseagreen;
  border: 2px dashed black;
  min-height: 10px;
  max-width: 100px;
}

.card-wishlist {
  padding: 2px;

  /* debug   */
  background-color: gainsboro;
  border: 2px dashed black;
  min-height: 50px;
  max-width: 50px;
}
