/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* PRODUCTS */

.products > .container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 2rem;
  padding: 5rem 0;
}

.products .product-card {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 30%;

  position: relative;

  /* debug */
  background-color: dodgerblue;
  min-height: 500px;
}

.product-card .card-discount {
  position: absolute;
  bottom: 90px;
}

.product-card .card-target {
  position: absolute;
  bottom: 90px;
  left: 42px;
}

.product-card .card-wishlist {
  position: absolute;
  top: 20px;
  right: 0px;
}

/* CARD */

.card-img {
  /* debug   */
  /* background-color: lightsalmon;
  border: 2px dashed black;
  min-height: 440px; */
}

.card-img-hover {
  display: none;
}

.card-description {
  padding: 5px 0;
  line-height: 15px;

  /* debug   */
  background-color: rgb(243, 243, 243);
  /* border: 2px dashed black;
  min-height: 60px; */
}

.card-discount {
  text-align: center;
  background-color: red;

  /* debug   */
  /* border: 2px dashed black;
  min-height: 10px; */
}

.card-target {
  text-align: center;
  background-color: green;

  /* debug   */
  /* border: 2px dashed black;
  min-height: 10px; */
}

.card-discount,
.card-target {
  padding: 3px 6px 3px 6px;
  font-size: 0.8rem;
  color: white;
}

.card-wishlist {
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;

  /* debug   */
  background-color: gainsboro;
  border: 2px dashed black;
  min-height: 50px;
}
